body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282A3A;
}
.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: center;
}
.play-buttons {
    display: flex;
    flex:1;
}
.play-buttons button{
    flex: 1;
    font-size: 80px;
    padding: 0;
    margin: 0;
    background-color: #282A3A;  
    border: 0;
}
.img-holders {
    display: flex;
    flex: 1;
}
.img-holders div {
    flex: 1;
    background-color: #C69749;
    display: flex;
    flex-direction: column;
    border:0;
}
.img-holders button {
    height: 50px;
    background-color: #000000;
    font-weight: bold;
    font-size: 30px;
    color: #C69749;
    border: 0;
}
.result {
    display: flex;
    background-color: #C69749;
    justify-content: center;
    align-items: center;
}
.red-para {
    background-color: red;
}
.green-para {
    background-color: green;
}
.player-choice,.computer-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}
#clear {
    height: 50px;
    background-color: #000000;
    color: #C69749;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}
